.Not-Found { 
    margin: 200px auto; 
    text-align: center; 
    margin-top: 50px;
    font-size: 30px;
    /* color: red; */
  } 
  .home { 
    text-decoration: none;
    /* color: blue; */

  } 
 
